<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pokemons.name }}</title>
</head>
<body>
<h1> {{ pokemons.name }}</h1>
<h2> {{ pokemons.description}} </h2>
<img id="image_of_pokemon">
Back to <a href="/pokemons">all pokemons</a>
</body>
</html>
<script lang="js">
  const current_pokemon = {{ pokemons.id }};
  const image = document.getElementById('image_of_pokemon')
  fetch(`https://pokeapi.co/api/v2/pokemon/${current_pokemon}`)
  .then(function(response){
    return response.text()
  })
  .then(function(data){
    document.getElementById('image_of_pokemon').src = data.sprites.front_default
  })
</script>